@font-face {
    font-family: november;
    src: url('november/novem___.ttf');
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html, body {
    height: 100%;
}
body {
    font-size: 18px;
    font-family: november;
    color: white;
    letter-spacing: .11em;
    background-color: #221925;
    background-image: url(images/back.png);
}
.desktop-header {
    display: none;
    flex-direction: column;
    padding-bottom: 20px;
    font-size: 30px;
}
.desktop-header li {
    margin-top: -30px;
    font-size: 20px;
}
.desktop-header li:not(last-child) {
    margin-right: 30px;
}
.desktop-header nav {
    display: flex;
    flex-direction: row;
}
a {
    color: white;
    text-decoration: none;
}
nav li {
    list-style-type: none;
}
header {
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-content: space-between;
}
.mobile-header {
    padding: 0 15px;
    background-color: rgb(0,0,0,60%);

    box-shadow: 0 25px 13px -13px rgb(0,0,0,50%);
    z-index: 1000;
}
.website-title {
    font-size: 1.8em;
}

img {
    user-select: none;
}
.content {
    display: none;
    margin: 20px auto;
    width: 90%;
    flex-direction: column;
}
.content-title {
    text-align: center;
}

.wrapper {
    background-image: url("images/back.png");
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 0 8px black;
}

.log-input-container {
    background-color: rgb(0,0,0,60%);
    padding: 5px 9px;
    position: relative;

    box-shadow: 0 -6px 13px 1px rgb(0,0,0,50%);

    
}
.command-log {
    height: 4.5em;
    overflow-y: hidden;
    display: flex;
    flex-direction: column-reverse;
    
}
.command-log p {
    margin: 3px;
}
.command-input {
    padding-bottom: 0px;
    padding: 10px 0 5px 0;
    margin: 4px;
    border-top: 1px solid rgb(255,255,255,30%);
}

.button-container, .log-input-container {
    justify-self: flex-end;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

    background-color: rgb(0,0,0,40%);
    margin: 0 auto;
    padding: 5px;
}
.main-buttons-container {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
}
.other-buttons-container {
    display: flex;
    flex-direction: column-reverse;
}

#screen {
    background-color: rgb(0,0,0,90%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#screen .inner-screen {

    width: 250px;
    text-align: center;
    padding: 20px;
    background-color: rgb(255,255,255,3%);
}
#screen #button, #gameover {
    font-size: 50px;
    padding: 10px;
    margin: 10px;
    color: white;
    width: 250px;
    text-align: center;
    text-decoration: none;

    
}
#button {
    background-color: rgb(255,255,255,3%);
    border: 1px solid white;
}
#gameover {
    font-size: 40px;
    display: none;
}
.game-area {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    position: relative;
    padding: 0 10%;
    height: 100%;
}
.time-survived {
    position: absolute;
    top: 0;
    left: 7px;
    font-size: 16px;
}
.player-shield {
    position: absolute;
    bottom: 0;
    left: 7px;
    font-size: 16px;
}
.player-ammo {
    position: absolute;
    bottom: 0;
    right: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#player-ammo {
    margin-left: 10px;
}
#gameover-survived {
    display:none;
    font-size: 20px;
}
.enemy1, .enemy2, .enemy3 {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    width: 100%;
}
#target1, #target2, #target3 {
    position: absolute;
}
.notTargeted {
    visibility: hidden;
}
.flyIn {
    animation: flyIn .8s cubic-bezier(0.22, 1, 0.36, 1) forwards,
               fadeIn .8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
@keyframes flyIn {
    0% {
        transform: translate(0, -300px);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
:root {
    --startup1: 1s;
    --startup2: 1s;
    --startup3: 1s;

}
.startup1:after {
    animation: startup var(--startup1) ease-out forwards;
}
.startup2:after {
    animation: startup var(--startup2) ease-out forwards;
}
.startup3:after {
    animation: startup var(--startup3) ease-out forwards;
}
.startup1:after, .startup2:after, .startup3:after {
    filter: opacity(30%);
    background-color: red;
    border-radius: 50%;
    position: absolute;
}
@keyframes startup {
    0% {
        display: block;
        width: 1px;
        height: 1px;
    }
    99% {
        width: 30px;
        height: 30px;
    }
    100% {
        display: none;
    }
}
#explosion {
    position: absolute;
    height: 100px;
    width: 100px;
}
.enemy-basic {
	background: url('images/Sprite Sheets/SpaceshipMegapack_LightBlue.png') no-repeat -452px -398px;
	width: 56px;
    height: 37px;
    position: relative;
    display: flex;
    justify-content: center;
}
.enemy-basic:after {
    content: "Enemy";
    letter-spacing: 0em;
    position: absolute;
    margin-top: 50px;
}
/* ---------------
BUTTON IMAGES
---------------- */
.button {
    width: 100px;
    margin: 5px;
}
#a-button {
    content: url("images/blue-A.png");
}
#a-button:active {
    content: url("images/blue-A-pushed.png") !important;
}

#b-button {
    content: url("images/green-B.png");
}
#b-button:active {
    content: url("images/green-B-pushed.png") !important;
}

#c-button {
    content: url("images/red-C.png");
}
#c-button:active {
    content: url("images/red-C-pushed.png") !important;
}

#d-button {
    content: url("images/yellow-D.png");
}
#d-button:active {
    content: url("images/yellow-D-pushed.png") !important;
}

#enter-button {
    content: url("images/silver-!arrowright.png");
}
#enter-button:active {
    content: url("images/silver-!arrowright-pushed.png") !important;
}

#clear-button {
    content: url("images/silver-!blank.png");
}
#clear-button:active {
    content: url("images/silver-blank-pushed.png") !important;
}


* {
    box-sizing: border-box;
}
/* Media queries */
@media (max-width: 345px) {
    .button {
        width: 70px;
    }
    .button-container {
        padding: 0;
    }
    .main-buttons-container {
        width: 200px;
    }
}

@media (min-width: 490px) {
    .main-buttons-container {
        margin-left: 20px;
    }
    .other-buttons-container {
        margin-right: 20px;
    }
    .wrapper {
        width: 490px;
    }
}

@media (min-width: 490px) {
    .main-buttons-container {
        margin-left: 20px;
    }
    .other-buttons-container {
        margin-right: 20px;
    }
    .wrapper {
        width: 490px;
    }
}

@media (min-width: 600px) {
    .mobile-header {
        display: none;
    }
    .desktop-header {
        display: flex;
    }
    .content {
        display: flex;
    }
}

@media (min-width: 1100px) {
    .content {
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
        width: 100%;
    }
    .content-column {
        width: 45%;
    }
}