@font-face {
    font-family: november;
    src: url('november/novem___.ttf');
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html, body {
    height: 100%;
}
body {
    font-size: 18px;
    font-family: november;
    color: white;
    letter-spacing: .11em;
}
header {
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-color: rgb(0,0,0,60%);

    box-shadow: 0 6px 13px 1px rgb(0,0,0,50%);
}
.website-title {
    font-size: 1.8em;
}

img {
    user-select: none;
}

.wrapper {
    background-image: url("images/back.png");
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.log-input-container {
    background-color: rgb(0,0,0,60%);
    padding: 5px 9px;
    position: relative;

    box-shadow: 0 -6px 13px 1px rgb(0,0,0,50%);

    
}
.command-log {
    height: 4.5em;
    overflow-y: hidden;
    display: flex;
    flex-direction: column-reverse;
    
}
.command-log p {
    margin: 3px;
}
.command-input {
    padding-bottom: 0px;
    padding: 10px 0 5px 0;
    margin: 4px;
    border-top: 1px solid rgb(255,255,255,30%);
}

.button-container, .log-input-container {
    justify-self: flex-end;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

    background-color: rgb(0,0,0,40%);
    margin: 0 auto;
    padding: 5px;

}
.main-buttons-container {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
}
.other-buttons-container {
    display: flex;
    flex-direction: column-reverse;
}

.game-area {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    position: relative;
    padding: 0 10%;
    height: 100%;
}
.time-survived {
    position: absolute;
    top: 0;
    left: 7px;
    font-size: 16px;
}
.player-shield {
    position: absolute;
    bottom: 0;
    left: 7px;
    font-size: 16px;
}
.enemy1, .enemy2, .enemy3 {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    width: 100%;
}
#target1, #target2, #target3 {
    position: absolute;
}
.notTargeted {
    visibility: hidden;
}
.flyIn {
    animation: flyIn .8s cubic-bezier(0.22, 1, 0.36, 1) forwards,
               fadeIn .8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
@keyframes flyIn {
    0% {
        transform: translate(0, -300px);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
#explosion {
    position: absolute;
    height: 100px;
    width: 100px;
}
.enemy-basic {
	background: url('images/Sprite Sheets/SpaceshipMegapack_LightBlue.png') no-repeat -452px -398px;
	width: 56px;
    height: 37px;
    position: relative;
    display: flex;
    justify-content: center;
}
.enemy-basic:after {
    content: "Enemy";
    letter-spacing: 0em;
    position: absolute;
    margin-top: 50px;
}
/* ---------------
BUTTON IMAGES
---------------- */
.button {
    width: 100px;
    margin: 5px;
}
#a-button {
    content: url("images/blue-A.png");
}
#a-button:active {
    content: url("images/blue-A-pushed.png") !important;
}

#b-button {
    content: url("images/green-B.png");
}
#b-button:active {
    content: url("images/green-B-pushed.png") !important;
}

#c-button {
    content: url("images/red-C.png");
}
#c-button:active {
    content: url("images/red-C-pushed.png") !important;
}

#d-button {
    content: url("images/yellow-D.png");
}
#d-button:active {
    content: url("images/yellow-D-pushed.png") !important;
}

#enter-button {
    content: url("images/silver-!arrowright.png");
}
#enter-button:active {
    content: url("images/silver-!arrowright-pushed.png") !important;
}

#clear-button {
    content: url("images/silver-!blank.png");
}
#clear-button:active {
    content: url("images/silver-blank-pushed.png") !important;
}


* {
    box-sizing: border-box;
}
/* Media queries */
@media (max-width: 345px) {
    .button {
        width: 70px;
    }
    .button-container {
        padding: 0;
    }
    .main-buttons-container {
        width: 200px;
    }
}

@media (min-width: 490px) {
    .main-buttons-container {
        margin-left: 20px;
    }
    .other-buttons-container {
        margin-right: 20px;
    }
    .wrapper {
        width: 490px;
    }
}